.center {
    margin-left: 5%;
    margin-right: 5%;
}

.Main {
    position: relative;
    margin: 60px auto 0;
    display: block;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: .5em;
}

@media (max-width: 991.98px) {
    .Main2 {
        max-width: 400px;
    }
}

@media (min-width: 576px) {
    .Main2 {
        max-width: 100%;
    }
}

.Main2 {
    position: relative;
    margin: 60px auto 0;
    display: block;
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    padding: 2.25em;
    box-sizing: border-box;
    border: solid 1px #DDD;
    border-radius: .5em;
    font-family: IRANSans, sans-serif;
}
